* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.card {
    margin: 20px;
    background-color: rgb(37, 36, 34);
    border: 2px solid black;
    border-radius: 40px;
    color: azure;
    display: flex;
    flex-wrap: wrap;
}

.card__box,
.card__box-info,
.card__box-btn {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.card__box-btn {
    justify-content: flex-end;
}

.card-info__name,
.card-info__secondname {
    font-size: 40px;
}

.card-info__secondname {
    font-size: 25px;
    font-style: italic;;
}

.card-info__email {
    width: 100%;
    font-style: italic;
}

.card-info__name,
.card-info__secondname {
    margin-right: 30px;
}

.card__caption,
.card__text {
    width: 100%;
}

.card__caption {
    margin-bottom: 15px;
    font-size: 30px;
}

.btn{
    background-color: rgb(207, 195, 181);
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
    width: 100px;
    display: block;
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid;
    border-color: #2e2927 transparent;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 



.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    z-index: 1;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif; 
    width: 70%;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.text-publication {
    height: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.submit-changed {
    display: nonev;
}


.form {
    width: 500px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: rgba(0, 0, 0, .3);
    border: 2px solid black;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form input, .form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
}